{% extends 'base.html' %}
{% block title %} PACIENTES {% endblock %}
{% block content %}

<h1>Lista de Pacientes</h1>
<a href="{{ url_for('paciente.create') }}" class="btn btn-success mb-3">Nuevo paciente</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pacientes %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.edad }} años</td>
            <td>{{ item.direccion }}</td>
            <td>{{ item.telefono }}</td>
            <td>
                <a href="{{ url_for('paciente.edit', id=item.id) }}" class="btn btn-warning">Editar</a>
                <a href="{{ url_for('paciente.delete', id=item.id) }}" class="btn btn-danger" onclick="return confirm('Estás seguro de eliminar ?')">Eliminar</a>
            </td>


        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}